{%extends "pgconfeu/base.html"%}
{%block content%}
        <!-- Content
        ================================================== -->
        <main class="main-content">
                <div class="container">

                        <!-- Call For Papers -->

                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Call for Papers</h2>
                                </div>

                                <p>PostgresOpen 2015 will be held on September 16 - 18th in
                                   Dallas at the Sheraton Dallas. It will cover topics for PostgreSQL users,
                                   developers and contributors, as well as decision and policy makers. For
                                   more information about the conference, please see
                                   <a href="/about">About</a>.

                                </p>
                                <p>Please note that PostgresOpen is open to all audiences and ages.  All talks
                                   are expected to be appropriate for a diverse group.  Please see our Conference
                                   <a href="/policies">Policies</a> and feel free to contact the
                                   <a href="mailto:program2015@postgresopen.org">Committee</a> with any questions.
                                </p>

                         <!-- CFP -->
                         <section class="section">

                               <p>The submission deadline for tutorials and regular sessions is May 17, 2015.</p>

                               <p>The conference commitee will review proposals and notify selected speakers by June 1, 2015.</p>

                               <p>The final schedule to be published nearer to the conference dates.</p>

                               <p>We will have a lightning talks session again this year! A separate CfP will be made for lightning talks closer to the conference dates.</p>

                               <p>All selected speakers will get free entry to the conference (excluding
                                  training sessions and tutorials). We do not in general cover travel and accommodations
                                  for speakers, but may be able to do that in limited cases. If you require
                                  assistance with funding to be able to attend, please make a note of this
                                  in the Submission Notes field.
                               </p>

                               <p>
                                 Shortcuts:
                               <ul>
                                 <li><a href="https://postgresopen.org/events/speakerprofile/pgopen2015/">Speaker Profile</a></li>
                                 <li><a href="https://postgresopen.org/events/callforpapers/pgopen2015/">Talk Submission</a></li>
                               </ul>
                               </p>

                               <p>Detailed instructions:</p>
                               <ul>
                               <li>The first step to submit your proposal is to set up, or review for returning speakers, your speaker profile <a href="https://postgresopen.org/events/speakerprofile/pgopen2015/">here</a>.
                                  This system uses the PostgreSQL Community Auth system (the same system used by the PostgreSQL wiki, CommitFest, and pgconf.eu).  Log in
                                  to the system with your PostgreSQL Community Auth credentials.  Please note that while this is the same code, the speaker profiles are
                                  not shared between pgconf.eu and postgresopen.org.</li>

                               <li>Once you've created your profile, this page will provide a link to a form where you can submit your
                                  talks for PostgresOpen 2015. When the site prompts for a login, use your
                                  regular postgresql.org community account.  Should you already have your speaker profile, you can go to
                                  the talk submission page directly <a href="https://postgresopen.org/events/callforpapers/pgopen2015/">here.</a>
                               </li>
                               </ul>

<!--                                 <p>The Call for Papers is closed.  See you in September! -->
                        </section>
                        <!-- Call For Papers / End -->
                </div>
        </main>

        <!-- Content -->
        <div class="main-content alt-color">
                <div class="container">
                        <section class="section">
                                <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                        <div class="widget widget__sidebar widget_categories">
                                                <div class="widget-title">
                                                        <h3>Session Information</h3>
                                                </div>
                                                <p>Each session will last 45 minutes, and may be on any topic related to PostgreSQL. Suggested topic areas include:</p>
                                                <ul>
                                                        <li>Developing applications for PostgreSQL</li>
                                                        <li>Administering large scale PostgreSQL installations</li>
                                                        <li>Case studies and/or success stories of PostgreSQL deployments</li>
                                                        <li>PostgreSQL tools and utilities</li>
                                                        <li>PostgreSQL hacking</li>
                                                        <li>Community &amp; user groups</li>
                                                        <li>Tuning the server</li>
                                                        <li>Migrating from other systems</li>
                                                        <li>Scaling/replication</li>
                                                        <li>Benchmarking &amp; hardware</li>
                                                        <li>PostgreSQL related products</li>
                                                </ul>
                                                <p>Of course, we're happy to receive proposals for talks on other PostgreSQL-related topics as well.</p>
                                        </div>
                                        </div>
                                </div>
                        </section>
                </div>
        </div>

        <!-- Content -->

        <div class="main-content">
                <div class="container">

                        <!-- CFP -->
                        <section class="section">
                        </section>
                </div>
        </div>

        <script>
                jQuery(document).ready(function() {
                        $("#topmenu").removeClass("active");
                        $("#topmenucfp").addClass("active");
           });

        </script>

{%endblock%}
