{%extends "pgconfeu/base.html"%}
{%block content%}
        <!-- Content
        ================================================== -->
        <main class="main-content">
                <div class="container">

                        <!-- Sponsors -->
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Sponsors</h2>
                                </div>
                                <p>PostgresOpen wouldn't be possible without the support of our wonderful
                                   sponsors!  If you are interested in sponsoring the conference, please
                                   see our <a href="/becomesponsor/">sponsoring campaign</a> and let us know!
                                </p>

                        </section>
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Platinum</h2>
                                        <img src="/media/img/sponsors/2015/2ndQ_logo.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                        <img src="/media/img/sponsors/2015/Braintree_Logo.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                        <div class="wrapper">
                                            <img src="/media/img/sponsors/2015/Pivotal_WhiteOnTeal.png" style="margin: 0 auto;padding-bottom:25px;">
                                            <div class="tooltip">
                                                Pivotal offers a modern approach to technology that organizations need to thrive in a new era of business innovation.
                                                Our solutions intersect cloud, big data and agile development, creating a framework that increases data leverage, accelerates
                                                application delivery, and decreases costs, while providing enterprises the speed and scale they need to compete.
                                            </div>
                                        </div>
                                        <div class="wrapper">
                                            <img src="/media/img/sponsors/2015/aws_logo_web_300px.png" style="margin: 0 auto;padding-bottom:25px;">
                                            <div class="tooltip">
                                                Amazon Web Services offers a broad set of global compute, storage, database, analytics, application, and deployment services
                                                that help organizations move faster, lower IT costs, and scale applications. These services are trusted by the largest enterprises
                                                and the hottest start-ups to power a wide variety of workloads including: web and mobile applications, data processing and warehousing,
                                                storage, archive, and many others. Amazon Web Services provides a variety of cloud-based computing services including a wide selection
                                                of compute instances which can scale up and down automatically to meet the needs of your application, a managed load balancing service
                                                as well as fully managed desktops in the cloud.  Amazon Relational Database Service (RDS) makes it easy to set up, operate, and scale
                                                a relational database in the cloud. It provides cost-efficient and resizable capacity while managing time-consuming database management
                                                tasks, freeing you up to focus on your applications and business.
                                            </div>
                                        </div>
                                        <!--
                                        <img src="/media/img/sponsors/EDB-logo-4c.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                        <img src="/media/img/sponsors/enova_color_no_bkgrnd_blue_letters.png" style="margin: 0 auto; padding-right:40px;" /><BR>
                                        <img src="/media/img/sponsors/heroku-logo-transbg-300x100.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                        -->
                                </div>
                        </section>
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Gold</h2>
                                        <img src="/media/img/sponsors/2015/jmg-logo-transbg-hires.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                </div>
                        </section>
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Silver</h2>
                                        <img src="/media/img/sponsors/2015/cs-logo4.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                </div>
                                <p>Join Consistent State for PostgreSQL Administration Training September 21-24th. Learn more about the session and <a href="http://www.consistentstate.com/store/p8/PostgreSQL_Admin_Class%3B_Dallas.html">register here</a>. Early Bird Runs through August 1st.</p>
                                </br>
                                <div class="title-bordered">
                                        <img src="/media/img/sponsors/2015/openscg_logo_350.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                        <img src="/media/img/sponsors/2015/EDB-logo-4c.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                </div>
                        </section>
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Bronze</h2>
                                        <img src="/media/img/sponsors/2015/OmniTI-logoTM_large_copy.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                        <img src="/media/img/sponsors/2015/CDLogo_Full_RGB.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                        <!--
                                        <img src="/media/img/sponsors/jackdb-logo.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                        -->
                                </div>
                        </section>
                                        <!--
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>T-shirt Sponsor</h2>
                                        <img src="/media/img/sponsors/OmniTI-logoTM.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                </div>
                        </section>
                                        -->

                        <!-- Sponsors / End -->

                </div>
        </main>

        <script>
                jQuery(document).ready(function() {
                        $("#topmenu").removeClass("active");
                        $("#topmenusponsors").addClass("active");
           });

        </script>

{%endblock%}
